# Python caches
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Git repository
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# Other unnecessary files
*.md
*.log
*.swp
__pycache__
