# Existing dependencies
pymilvus==2.2.7
neo4j
transformers==4.31.0
librosa==0.10.0
torch==2.0.1
fastapi==0.100.0
uvicorn==0.22.0
pydantic==1.10.9
#httpx==0.24.0
pytest==7.4.0
pytest-cov==4.1.0
python-dotenv==1.0.0

# New dependencies 
langchain
ollama==0.3.2
pypdf
langchainhub
jina
langchain-community
langchain-experimental