# requirements.txt
pymilvus==2.4.7
neo4j
transformers==4.31.0
librosa==0.10.0
torch==2.0.1
fastapi==0.100.0
uvicorn==0.22.0
pydantic>=2.3.0
pytest==7.4.0
pytest-cov==4.1.0
python-dotenv==1.0.0
pydantic-settings==2.1.0
langchain
ollama==0.3.2
pypdf
langchainhub
jina
langchain-community
langchain-experimental
python-docx
nltk
numpy
seaborn
transformers
torch
numba
#setuptools==71.0.3